/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #DCDCCC;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #656555;
    text-shadow: none;
}

::selection {
    background: #656555;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #2B2B2B;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #2B2B2B;
    color: #DCDCCC;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    color: #DCDCCC;
    background-color: #050D0D;
    width: 60%;
    margin:0px auto;
}

div#main {
    padding-bottom: 1em;
    min-height: 40%;
    padding: 10px 20px 10px 20px;
    background-color: #050D0D;
}

div#small {
    font-size: small;
}

p#meta {
    color: #236161;
}

p {
    background-color: #050D0D;
    font-family: sans-serif;
}

header {
    margin: 0;
}

h1 {
    color: #DCDCCC;
    background-color: #236161;
    margin: 0;
    padding: 10px 20px 10px 20px;
    text-shadow: 0px 1px 2px #222;
}

h2 {
    background-color: #236161;
    padding: 10px 20px 10px 20px;
    text-shadow: 0px 1px 2px #222;
}

a {
    text-decoration: none;
}

a:link {
    color: #427DB8;
}

a:visited {
    color: #7DB842;
}

a:hover {
    color: #B84242;
}

ul {
    list-style-type: disc;
}

li {
    color: #DCDCCC;
}

nav {
    background-color: #252D2D;
    margin: 0; padding: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#navmenu a, #navmenu a:visited {
     padding: 3px 10px 3px 10px;
     color: #dcdccc;
     text-decoration: none;
}

#navmenu a:hover {
  color: #dcdccc;
  background-color: #555D5D;
}

#navmenu ul {
    margin: 0; padding: 0;
    list-style-type: none; list-style-image: none;
}

#navmenu li {
    display: inline;
    padding: 1px 1px 1px 1px;
    margin: 1px;
}

footer {
    background-color: #252D2D;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#copyright {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: small;
    text-align: left;
    list-style: none;
}

#copyright ol {
    margin: 0; padding: 0;
    list-style-type: none; list-style-image: none;
}

#copyright li {
    display: inline;
    padding: 1px 8px 1px 8px;
    margin: 1px;
}

#blogindex, #blogindex td {
    padding: 25px;
    cellspacing: 25px;
    font-size: small;
}

pre {
    font-family: monospace, Courier;
    font-size: small;
    background: #353D3D;
    border: 1px #253D3D;
    padding: 2px 8px 2px 8px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow-x: auto;
}

code {
    font-family: monospace, Courier;
    font-size: smaller;
    background: #353D3D;
    padding: 1px 2px 1px 2px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    overflow-x: auto;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
